/* inter-tight-latin-300-normal */
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter-tight@latest/latin-300-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* inter-tight-latin-700-normal */
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter-tight@latest/latin-700-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* jetbrains-mono-latin-400-normal */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono@latest/latin-400-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* jetbrains-mono-latin-400-normal */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono@latest/latin-400-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* jetbrains-mono-latin-700-normal */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono@latest/latin-700-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* jetbrains-mono-latin-400-italic */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono@latest/latin-400-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* jetbrains-mono-latin-700-italic */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono@latest/latin-700-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

html {
  --page-max-width: 530px;
  --page-bg-color: #d9dfdf;
  --link-bg-color: #f1f1f1;
  --link-text-color: #2c2c2c;
  --link-primary-color: #439c9c; 
  --link-secondary-color: #8b9c9c; 
  --link-light-color: #aeaeae;
}

body {
  background-color: var(--page-bg-color);
  font-family: 'Inter Tight', sans-serif;
}

main {
  display: flex;
	flex-direction: column;
  align-items: center;
  margin: 0 15px;
}

.heading {
  margin: 2em 0 0.5em;
  width: 100%;
  max-width: var(--page-max-width);
  font-weight: 300;
}

.heading.large {
  font-size: 1.6em;
}

.profile {
  margin-top: 5em;
  width: 100%;
  max-width: var(--page-max-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.profile .icon {
  margin: 0px;
  user-select: none;
}

.profile .icon img {
  width: 40px;
  border-radius: 9px;
}

.links {
  width: 100%;
  max-width: var(--page-max-width);
}

.links ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 15px;
  padding: 0;
}

.links .item {
  list-style: none;
}

.links .button {
  display: block;
	height: 3.6em;
  padding: 0 20px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--link-light-color);
  border-radius: 0em;
  background-color: var(--link-bg-color);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links .button:hover {
  border-color: var(--link-text-color);
}

.links .item.featured .button {
  border-color: var(--link-primary-color);
}

.links .item.featured .button:hover {
  border-color: var(--link-text-color);
}

.links .button .title {
  color: var(--link-text-color);
  font-family: 'JetBrains Mono', monospace; 
  font-weight: 400;
  font-size: 1.1em;
}

.links .button .title small{
  font-size: 0.6em;
}

.links .button .badge {
  padding: 1px 10px;
  border-radius: 1em;
  font-size: 0.7em;
  font-family: 'JetBrains Mono', monospace;
  font-style: italic;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--link-secondary-color);
}

.links .button .screenname {
  font-size: 0.8em;
  color: #92AA9E; 
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
}

.whatabout {
  font-size: max(12px, 50%);
  font-weight: 300;
}

.inactive {
  opacity: 0.4;
}

footer {
  width: 100%;
  max-width: var(--page-max-width);
  margin: 10em 0 5em;
  text-align: center;
}

.footer-sign {
  font-family: 'JetBrains Mono', monospace;
  color: var(--link-secondary-color);
  font-size: 2em;
}
